<div class="container">
    <form [formGroup]="personalDetailForm" (ngSubmit)="onSubmit()">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" formControlName="name" id="name" placeholder="Name"
                    [ngClass]="{ 'is-invalid': submitted && pf.name.errors }">
                <small *ngIf="submitted && pf.name.errors" class="form-text text-muted">
                    <div *ngIf="pf.name.errors.required">Name is required</div>
                </small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" formControlName="email" id="email" placeholder="Email"
                    [ngClass]="{ 'is-invalid': submitted && pf.email.errors }">
                <small *ngIf="submitted && pf.email.errors" class="form-text text-muted">
                    <div *ngIf="pf.email.errors.required">Email is required</div>
                </small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" id="password"
                    placeholder="Password" [ngClass]="{ 'is-invalid': submitted && pf.password.errors }">
                <small *ngIf="submitted && pf.password.errors" class="form-text text-muted">
                    <div *ngIf="pf.password.errors.required">Password is required</div>
                </small>
            </div>
            <div class="form-group">
                <label for="dateOfBirth">Date Of Birth</label>
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="dateOfBirth" id="dateOfBirth"
                        placeholder="yyyy-mm-dd" [ngClass]="{ 'is-invalid': submitted && pf.dateOfBirth.errors }"
                        ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary bi bi-calendar" (click)="d.toggle()" type="button"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-calendar" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                            </svg></button>
                    </div>
                </div>
                <small *ngIf="submitted && pf.dateOfBirth.errors" class="form-text text-muted">
                    <div *ngIf="pf.dateOfBirth.errors.required">Date Of Birth is required</div>
                </small>
            </div>

            <div class="form-group">
                <label for="contactNo">Contact No</label>
                <input type="tel" class="form-control" formControlName="contactNo" id="dateOfBirth"
                    placeholder="000-000-0000" [ngClass]="{ 'is-invalid': submitted && pf.contactNo.errors }"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
                <small *ngIf="submitted && pf.contactNo.errors" class="form-text text-muted">
                    <div *ngIf="pf.contactNo.errors.required">Contact no is required</div>
                    <div *ngIf="pf.contactNo.errors.pattern">Please Formate required 000-000-0000</div>
                </small>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea type="textarea" class="form-control" formControlName="address" id="dateOfBirth"
                    placeholder="address" [ngClass]="{ 'is-invalid': submitted && pf.address.errors }"></textarea>
                <small *ngIf="submitted && pf.address.errors" class="form-text text-muted">
                    <div *ngIf="pf.address.errors.required">Contact no is required</div>
                </small>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary mr-1">Next</button>
                <!-- <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button> -->
            </div>
        </div>

    </form>
</div>