<!-- <table class="table ml-3">
    <caption>List of users</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Contact No</th>
            <th scope="col">Business Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td> <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>Otto</td>
            <td> <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>Mark</td>
            <td>Otto</td>
            <td> <a href="#">Edit</a> | <a href="#">Delete</a></td>
        </tr>
    </tbody>
</table> -->

<div class="container">
    <ag-grid-angular style="width: 1200px; height: 1200px;" class="ag-theme-alpine" [rowData]="rowData"
        [columnDefs]="columnDefs">
    </ag-grid-angular>
</div>